h2 {
    text-align: center;
}

#CCSU {
    block-size: auto;
}

  #email {
      align-self: auto;
  }
  

  

#form-group {
    align-content: center;
    background-color: #149910;
}

::placeholder {
    align-content: center;
}

