/* .main {
    align-content: center;
} */
/* fieldset {
    align-content: center;
} */

form-group {
    align-content: center;
}

::placeholder {
    align-content: center;
}

/* h3 {
    text-align: left;
} */
